body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #000000;
  color: #fff;
  padding: 20px;
}

.sidebar .logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.main-content {
  flex: 1;
  padding: 20px;
}

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
} */

.user-info {
  font-weight: bold;
}

.content {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
  color: black; /* Change the default color of the links */
  display: block;
  padding: 10px;
  transition: background-color 0.3s; /* Add transition for smooth color change */
}

li a:hover {
  background-color: #84fab0; /* Change the background color on hover */
  color: white; /* Change the text color on hover */
}